<div class="content">
    <img src="{{meme.memeSrc}}" alt="" />
    <h3>{{meme.title}}</h3>
    <p>{{meme.description}}</p>
    <button>
        <a href="{{meme.memeSrc}}" download="{{meme.title}}.jpg">Download Meme</a>
    </button>
</div>